@import "./variables"

.Page
    position: relative
    width: calc(100% - ($pageContentPadding * 2))
    height: calc(100% - ($pageContentPadding * 2))
    overflow: hidden auto
    color: #fff
    padding: $pageContentPadding