@use "./variables" as *
    
.Right
    position: relative
    flex: 1 1 auto
    width: calc(100% - $leftWidth)
    min-width: 0
    min-height: 100vh
    min-height: 100dvh

@media (max-width: 900px)
    .Right
        width: 100%
        min-height: auto
